#integrations2-section > .row {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
#integrations2-section {
  background-color: #f9f9f7;
}
#integrations2-section button:nth-child(1) {
  margin-right: 1.5rem;
}
#integrations2-section button {
  padding: 0.5rem 3rem;
}
@media screen and (max-width: 512px) {
  #integrations2-section button:nth-child(1) {
    margin-right: 0rem;
    margin-bottom: 1.5rem;
  }
}