#integrations-section > .row {
  padding-top: 10rem;
}
#integrations-section h2 {
  font-size: 3rem;
}
#integrations-section ul {
  list-style-type: none;
  gap: 5rem;
  align-items: center;
  overflow: hidden;
}
#intergrations-section img {
  width: 100%;
}
#integrations-section li p {
  margin-top: 0.688rem;
  font-size: 0.875rem;
}
#integrations-section {
  background-color: #f9f9f7;
}
@media screen and (max-width: 768px) {
  #integrations-section h2 {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 512px) {
  #integrations-section h2 {
    font-size: 1.5rem;
  }
  #integrations-section ul {
    gap: 2rem;
  }
}