#features3-section > .row {
  margin-top: 10rem;
}
#features3-section span {
  font-size: 3rem;
}
#features3-section,
#features3-section .card-body {
  background-color: #f9f9f7;
}
#features3-section .card-text {
  font-size: 1.25rem;
}
#features3-section .rows {
  padding: 6rem 0rem;
}
@media screen and (max-width: 1200px) {
  #features3-section span {
    font-size: 1.875rem;
  }
  #features3-section .card-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  #features3-section .rows:nth-child(1),
  #features3-section .rows:nth-child(2) {
    margin-bottom: 6rem;
  }
  #features3-section span {
    font-size: 1.875rem;
  }
  #features3-section .card-text {
    font-size: 1rem;
  }
}