#plans-section > .row {
  margin-top: 10rem;
}
#plans-section p:nth-child(1) {
  font-size: 3rem;
  margin-bottom: 2rem;
}
#plans-section p:nth-child(2) {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
#plans-section button[aria-label='Sign up'] {
  padding: 0.5rem 3rem;
  margin-right: 1.5rem;
}
#plans-section button[aria-label='Compare plans'] {
  padding: 0.5rem 3rem;
}
@media screen and (max-width: 768px) {
  #plans-section p:nth-child(2) {
    font-size: 1rem;
  }
}
@media screen and (max-width: 512px) {
  #plans-section button[aria-label='Sign up'] {
    margin-right: 0rem;
    margin-bottom: 1.5rem;
  }
}